.contact-us {
    background-image: url(../../images/contactUs.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-form {
    background: whitesmoke;
    border-radius: 20px;
    padding: 40px;
}